#images {
  .images {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 60px;
    .img {
      position: relative;
      width: 33%;
      overflow: hidden;
      img {
        width: 100%;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
      .info {
        position: absolute;
        bottom: 10px;
        left: 5px;
        color: white;
        h5 {
          font-size: 20px;
        }
        h1 {
          font-size: 35px;
        }
      }
    }
  }
  @media screen and (max-width:767px){
    .images{
        padding: 0px 5%;
        display: flex;
        flex-direction: column;
        .img{
            width: 100%;
        }
    }
  }
}
