#products{
    margin-top: 100px;
    .products{
        .head-logo{
            text-align: center;
            padding: 30px;
            .layout{
                width: 4%;
                height: 2px;
                background-color: blue;
               margin-left: 540px;
               margin-bottom: 10px;
            }
            h1{
                font-size: 30px;
                font-family: 'Mukta', sans-serif;
            }
        }
        .products-cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            .card{
                img{
                    width: 100%;
                }
                .content{
                    padding: 20px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    h1{
                        font-size: 18px;
                        color: rgb(48, 152, 171);
                    }
                    p{
                        color: grey;
                    }
                }
            }
        }
        button{
            padding: 15px 30px;
                    border: none;
                    background-color: #5A50E5;
                    color: white;
                    transition: all 0.5s;
                    // width: 30%;
                    margin-top: 10px;
                    letter-spacing: 2px;
                    &:hover{
                        box-shadow: 3px 4px 3px black;
                    }
        }
    }
    @media  screen and (max-width:767px){
        .products{
            padding: 0 5%;
            .products-cards{
                grid-template-columns: repeat(1, 1fr);
                .card{
                    width: 100%;
                }
            }
        }
    }
}